@page
@model UploadModel
@{
    ViewData["Title"] = "上传测试";
}

<h2>@ViewData["Title"]</h2>

<section class="py-4">
    <div class="py-2" id="files"></div>
    <div class="py-2">
        <button id="upload">确定</button>
    </div>
    <div class="py-2" id="message"></div>
</section>

@section Scripts{
    <script type="text/javascript">
        function showInput() {
            $('#files').html($('<input type="file" id="file" />'));
        }
        window.onload = function () {
            showInput();
            $('#upload').click(function () {
                let file = document.getElementById('file').files[0];
                if (file) {
                    let fd = new FormData();
                    let xhr = new XMLHttpRequest();
                    fd.append("File", file);
                    xhr.upload.addEventListener("progress", function (event) {
                        $('#message').text(`正在上传：${event.lengthComputable ? Math.round(event.loaded * 100 / event.total) : 0}%`);
                    }, false);
                    xhr.addEventListener('load', function (event) {
                        $('#message').text(`上传成功：${event.target.responseText}`);
                        var paths = $.parseJSON(event.target.responseText);
                        $.each(paths, (i, value) => {
                            $('#message').append($(`<p><a target="_blank" href="${value}">${value}</a></p>`));
                        });
                        showInput();
                    }, false);
                    xhr.addEventListener('error', function (event) {
                        $('#message').text(`上传失败！${event.target.responseText}`);
                        showInput();
                    }, false);
                    xhr.addEventListener('abort', function (event) {
                        $('#message').text(`上传取消！`);
                        showInput();
                    }, false);
                    xhr.open('POST', '/Upload');
                    xhr.send(fd);
                }
            });
        };
    </script>
}