@{
    Layout = "~/Shared/_Layout.cshtml";
    PageData["Title"] = "Contents";
}

<div class="row">
    <div class="col-md-3">
        <h2>Upload</h2>
        <ul>
            <li><a href="~/Upload">测试</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Image</h2>
        <ul>
            <li><a href="~/Image#Concatenate">拼接图片</a></li>
            <li><a href="~/Image#Combine">组合图片</a></li>
            <li><a href="~/Image#QRCode">生成二维码</a></li>
        </ul>
    </div>
</div>
